body {
    text-align: center;
    font-size: 30px;
}

h1 {
    font-size: 50px;
}

input {
 font-size: 20px;
}



.grid {
    height: 250px;
    width: 250px;
    border: 1px red solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    /*flex-direction: column;*/
    
    

    
}

.rows {
    display: flex;
    flex: auto;
    flex-direction: column;
    
    
    
}

.box {
    flex: auto;
    height: 10px;
    border: 0.5px solid black;
    align-items: stretch;
}